

.container {
    display: flex;
    flex-direction: column;
  }
   
  .button {
    width: 100%;
    background-color: #4f9;
    color: #000000;
  }
   
  .card {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 25px #4f9;
  }
   
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 16px 0px;
  }